/node_modules
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/build
/storage/*.key
/storage/debugbar
/vendor
.DS_Store
.env
.php_cs.dist
.phpunit.result.cache
/.idea
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.php_cs.cache
.php-cs-fixer.cache
phpstan-neon
/.phpunit.cache
PR_DESCRIPTION.md