
.btn { @apply flex items-center rounded text-sm font-bold whitespace-no-wrap; }

.btn-big{ @apply px-6 py-3; }

.btn-small{ @apply px-2 py-1; }

.btn-green { @apply bg-green-800 text-white; }

.btn-indigo { @apply bg-indigo-800 text-white; }

.btn-red { @apply bg-red-800 text-white; }

.btn-indigo:focus{ @apply bg-orange-800; }

.btn-indigo:hover{ @apply bg-orange-800; }

.error{
    @apply border-red-500;
}

.error:focus{
    @apply border-red-700
}

.chevron {
    @apply .pr-6;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: right 0.7rem center;
}
